@page
@model ABCUniversity1.Pages.UserLoginModel


<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
          class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    @if (Model.ErrorMsg.Length > 0)
                    {
                        <div class="alert alert-danger" role="alert">
                            @Model.ErrorMsg
                        </div>
                    }



                    <div class="form-group">
                        <label asp-for="student2.UserName" class="control-label"></label><span style="color:red">*</span>
                        <input asp-for="student2.UserName" class="form-control" />
                        <span asp-validation-for="student2.UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="student2.Password" class="control-label"></label><span style="color:red">*</span>
                        <input asp-for="student2.Password" class="form-control" type="password"/>
                        <span asp-validation-for="student2.Password" class="text-danger"></span>
                    </div>

                    </br>
                    <div class="form-group">
                        <input type="submit" value="Student Login" class="btn btn-primary" />
                    </div>
                </form>
                <div>
                    <a asp-page="/Students/Create">Don't have an account?</a>
                </div>
      </div>
    </div>
  </div>
  @* <div
    class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
    <!-- Copyright -->
    <div class="text-white mb-3 mb-md-0">
      Copyright © 2020. All rights reserved.
    </div>
    <!-- Copyright -->

    <!-- Right -->
    <div>
      <a href="#!" class="text-white me-4">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="#!" class="text-white me-4">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="#!" class="text-white me-4">
        <i class="fab fa-google"></i>
      </a>
      <a href="#!" class="text-white">
        <i class="fab fa-linkedin-in"></i>
      </a>
    </div>
    <!-- Right -->
  </div> *@
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
@* <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>  *@
@*  <script>
    $(document).ready(function () {
  
        $('#ErrorAlert').fade(); // or $('#ErrorAlert').css('display', 'none');
    });
</script>
 *@
